/* The footer is positioned at the bottom of the page */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
    color: #ebebeb;
}