* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}


/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
    background: #1b3146;
}


/* This CSS styles the navbar and navbar items */

.navbar {
    padding: 5px;
    margin: 0;
}

.navbar-brand {
    padding: 10px;
    font-size: 19px;
}

.nav-link {
    font-size: 14px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235,235,235, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(235, 235, 235);
}


/* This CSS styles the Logo icon in the navbar */

.nav-class {
    margin: 20px;
}

.nav-logo {
    width: 150px;
    color: white;
    filter: invert(100) sepia(100) saturate(27) hue-rotate(264deg) brightness(96) contrast(102);
}


/* The styles for the Image Bar */

.bg-image {
    position: relative;
    height: 250px;
    padding: 20px;
    margin: 0;
    background-image: url("https://prod.static9.net.au/fs/5d96b1fe-22ba-42bc-b175-1ff0b09e4f7a");
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: bottom center; */
    color: darkslategray;
}