.container {
    background-color: #dbdfe5;
}

label,
select,
input {
    height: calc(1.5em + 1.5rem + 0px);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    padding: 0.75rem 2.5rem 0.75rem 1.5rem;
    min-height: 1.2em;
}