<!-- Analysis Page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Dietary Trends & Disease Prevalence</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>

    <!-- CSS for current page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/analysis.css') }}" />

</head>

<body>
    <div class="wrapper">
        <!-- Navigation Bar -->
        <div id="nav-placeholder"></div>

        <!-- Page Content -->
        <div class="container-fluid mt-5">
            <!-- Main page row -->
            <div class="flex-container">
                <!-- Left side Obesity-Analysis box/image -->
                <div class="column">
                    <h1 style="font-size:250%; font-weight: bold;"> Factors Impacting Adults Obesity</h1>
                    <hr>
                    <h2 style="font-size:200%; font-weight: bold;">Click on each plot for further details</h2>
                    <!-- Plot 1 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Limited Access to Healthy Foods 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity1.png" alt="Obesity 1"></a>
                            <p class="card-text" style="font-size: 140%;">Limited access to healthy
                                foods is positively associated with the rates
                                of obesity in American adults. Decreased access to healthy foods caused a trend of
                                increased obesity across the United States. For every 10% decrease in access to healthy
                                foods, adult obesity increases by 7%.</p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 2 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Food Environment Index 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity2.png" alt="Obesity 2"></a>
                            <p class="card-text" style="font-size: 140%;">The food environment index
                                (FEI) is an indicator of the factors that contribute to a healthy food environment with
                                ‘0’ being the worst and ‘10’ being the best. Rates of adult obesity in the United States
                                showed a decreasing trend with increasing FEI.</p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 3 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Physically Inactive 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity3.png" alt="Obesity 3"></a>
                            <p class="card-text" style="font-size: 140%;">Greater physical
                                inactivity has a moderately positive linear association with rates of adult obesity in
                                the United States. A 10% increase in physical inactivity was associated with an
                                approximately 7% increase in adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 4 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Access to Exercise Opportunities 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity4.png" alt="Obesity 4"></a>
                            <p class="card-text" style="font-size: 140%;">Greater access to exercise
                                opportunities has a moderate negative association with adult obesity in the United
                                States. A 10% increase in access to exercise opportunities resulted in a 2.5% decrease
                                in obesity across the country.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 5 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">High School Graduation Rate 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity5.png" alt="Obesity 5"></a>
                            <p class="card-text" style="font-size: 140%;">
                                There does not appear to be any significant relationship between high school graduation
                                rates and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 6 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">College Education Rate 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity6.png" alt="Obesity 6"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between college education and prevalence of obesity in adults in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 7 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Expenditure per Capita by Fast-food
                                Restaurants 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity7.png" alt="Obesity 7"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between the amount of expenditure by fast-food restaurants and adult obesity rates in
                                the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 8 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Expenditure per capita by Restaurants
                                2012</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity8.png" alt="Obesity 8"></a>
                            <p class="card-text" style="font-size: 140%;">Expenditure per capita for non-fast food
                                restaurants had a weak negative association with adult obesity rates in the United
                                States in 2012.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 9 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Direct Farm Sales per Capita 2012</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity9.png" alt="Obesity 9"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association between direct farm
                                sales per capita and adult obesity rates in the United States.

                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 10 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Unemployed 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity10.png" alt="Obesity 10"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between % unemployment across the United States and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 11 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Income ratio 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity11.png" alt="Obesity 11"></a>
                            <p class="card-text" style="font-size: 140%;">The income ratio indicates
                                the ratio of median household income at the 80th percentile compared to income at the
                                20th percentile. There is no association between the income ratio and the prevalence of
                                obesity in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 12 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity12.png" alt="Obesity 12"></a>
                            <p class="card-text" style="font-size: 140%;">Median household income
                                has a weak negative association with adult obesity in the United States. In general, as
                                median household income increases, adult obesity rates tend to decrease.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 13 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Asian 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity13.png" alt="Obesity 13"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 14 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Hispanic 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity14.png" alt="Obesity 14"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 15 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Black 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity15.png" alt="Obesity 15"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 16 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income White 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Obesity16.png" alt="Obesity 16"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult obesity.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="column bg-alt">
                    <!-- Right side Diabetes-Analysis box/image-->
                    <h1 style="font-size: 250%; font-weight: bold;">Factors Impacting Adults Diabetes</h1>
                    <hr>
                    <h1 style="font-size:200%; font-weight: bold;">Click on each plot for further details</h1>
                    <!-- Plot 1 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Limited Access to Healthy Foods 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes1.png" alt="Diabetes 1"></a>
                            <p class="card-text" style="font-size: 140%;">Limited access to healthy
                                foods has no association with adult diabetes in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 2 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Food Environment Index 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes2.png" alt="Diabetes 2"></a>
                            <p class="card-text" style="font-size: 140%;">Food Environment Index has
                                a weak negative association with adult diabetes in the United States. Rates of adult
                                obesity showed a decreasing trend with increasing FEI.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 3 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Physically Inactive 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes3.png" alt="Diabetes 3"></a>
                            <p class="card-text" style="font-size: 140%;">Physical inactivity is
                                strongly associated with increased prevalence of adult diabetes. A 10% increase in
                                physical inactivity across the United States results in a 4.3% increase in rates of
                                diabetes.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 4 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Access to Exercise Opportunities 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes4.png" alt="Diabetes 4"></a>
                            <p class="card-text" style="font-size: 140%;">Greater access to exercise
                                opportunities has a moderate negative association with adult diabetes in the United
                                States. A 10% increase in access to exercise opportunities resulted in 1.3% decrease in
                                diabetes prevalence across the country.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 5 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">High School Graduation Rate 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes5.png" alt="Diabetes 5"></a>
                            <p class="card-text" style="font-size: 140%;">There is no relationship
                                between high school graduation rates and prevalence of adult diabetes in the United
                                States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 6 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">College Education Rate 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes6.png" alt="Diabetes 6"></a>
                            <p class="card-text" style="font-size: 140%;">There is a moderate
                                negative association between the percentage of people who have a college education and
                                rates of adult diabetes. A 10% increase in those who get a college education results in
                                a 2% decrease in diabetes prevalence in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 7 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Expenditure per Capita by Fast-food
                                Restaurants 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes7.png" alt="Diabetes 7"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between the amount of expenditure by fast-food restaurants and adult diabetes rates in
                                the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 8 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Expenditure per capita by Restaurants
                                2012</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes8.png" alt="Diabetes 8"></a>
                            <p class="card-text" style="font-size: 140%;">Expenditure per capita for non-fast food
                                restaurants had a weak negative association with adult diabetes rates in the United
                                States in 2012.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 9 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Direct Farm Sales per Capita 2012</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes9.png" alt="Diabetes 9"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association between direct farm
                                sales per capita and adult diabetes rates in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 10 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Unemployed 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes10.png" alt="Diabetes 10"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between % unemployment across the United States and prevalence of adult diabetes.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 11 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Income ratio 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes11.png" alt="Diabetes 11"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between the income ratio and the prevalence of diabetes in the United States.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 12 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes12.png" alt="Diabetes 12"></a>
                            <p class="card-text" style="font-size: 140%;">Median household income
                                has a weak negative association with adult diabetes in the United States. In general, as
                                median household income increases, adult diabetes rates tend to decrease.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 13 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Asian 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes13.png" alt="Diabetes 13"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult diabetes.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 14 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Hispanic 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes14.png" alt="Diabetes 14"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult diabetes.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 15 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income Black 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes15.png" alt="Diabetes 15"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult diabetes.
                            </p>
                        </div>
                    </div>
                    <br>
                    <!-- Plot 16 -->
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center; color: steelblue;">Median Household Income White 2020</h3>
                            <a href="/regression" class="mr-5"><img class="img-fluid mx-auto d-block"
                                    src="../static/images/Analysis-images/Diabetes16.png" alt="Diabetes 16"></a>
                            <p class="card-text" style="font-size: 140%;">There is no association
                                between median household income for any specific race, Asian, Hispanic, Black, or White,
                                in the United States and prevalence of adult diabetes.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Footer -->
        <div id="footer-placeholder"></div>

    </div>
    <!-- JS, Popper.js, CSS and jQuery -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- Script for current page -->
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
</body>

</html>