<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Dietary Trends & Disease Prevalence</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>

    <!-- CSS for current page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/approach.css') }}" />

</head>

<body>
    <div class="wrapper">
        <!-- Navigation Bar -->
        <div id="nav-placeholder"></div>

        <!-- Page Content -->
        <div class="container-fluid mt-5">
            <!-- Main page row -->
            <div class="row margin-top-50 ml-1">
                <div class="col-md-6">
                    <section class='row mr-2'>
                        <div class='col bg-white'>
                            <h3>Data</h3>
                            <hr>
                            <p>The following table includes all of the data used for plotting/analysis during this
                                project.</p>
                            <h1 id="fetching"></h1>
                            <div class='row bg-white'>
                                <div class='col'>
                                    <div class='table-responsive'
                                        style='height:400px; overflow-x:auto; overflow-y: auto;'>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="table-head">Year</th>
                                                    <th class="table-head">State</th>
                                                    <th class="table-head">County</th>
                                                    <th class="table-head">% Adults with Obesity</th>
                                                    <th class="table-head">% Adults with Diabetes</th>
                                                    <th class="table-head">% Limited Access to Healthy Foods</th>
                                                    <th class="table-head">Food Environment Index</th>
                                                    <th class="table-head">% Physically Inactive</th>
                                                    <th class="table-head">% With Access to Exercise Opportunities</th>
                                                    <th class="table-head"># Primary Care Physicians</th>
                                                    <th class="table-head">Primary Care Physicians Rate</th>
                                                    <th class="table-head"># Mental Health Providers</th>
                                                    <th class="table-head">Mental Health Provider Rate</th>
                                                    <th class="table-head">High School Graduation Rate</th>
                                                    <th class="table-head">% Some College</th>
                                                    <th class="table-head">% Unemployed</th>
                                                    <th class="table-head">Income Ratio</th>
                                                    <th class="table-head">Median Household Income</th>
                                                    <th class="table-head">Household Income (Asian)</th>
                                                    <th class="table-head">Household Income (Black)</th>
                                                    <th class="table-head">Household Income (Hispanic)</th>
                                                    <th class="table-head">Household Income (White)</th>
                                                    <th class="table-head">Expenditures per capita, fast food</th>
                                                    <th class="table-head">Expenditures per capita, restaurants</th>
                                                    <th class="table-head">Direct farm sales per capita</th>
                                                    <th class="table-head">Direct farm sales per capita (% change), 2007
                                                        - 12</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="container mb-5">
                        <div class="row">
                            <div class="col-12">
                                <h1>Data Sources</h1>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>Data Preprocessing & ETL</h1>
                                <h1>...</h1>
                                <h1>...</h1>
                                <h1>...</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-placeholder"></div>

    </div>
    <!-- JS, Popper.js, CSS and jQuery -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- Script for current page -->
    <script src="{{ url_for('static', filename='js/approach.js') }}"></script>
</body>

</html>