<!-- Conclusion Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Dietary Trends & Disease Prevalence</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>

    <!-- CSS for current page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/conclusion.css') }}" />

</head>

<body>
    <div class="wrapper">
        <!-- Navigation Bar -->
        <div id="nav-placeholder"></div>

        <!-- Page Content -->
        <div class="container-fluid mt-5">
            <!-- Main page row -->
            <div class="flex-container">
                <!-- Left Side -->
                <div class="column">
                    <h2 style="font-size:300%; font-weight: bold;">Conclusion</h2>
                    <hr>
                    <div class="card bg-secondary text-white">
                        <div class="card-body">
                            <p style="font-size:160%; line-height: 1.6;">There is plenty of data on the effects of diet
                                on the incidence of obesity and diabetes, however, far less is known about the impacts
                                of other modifying factors. In addition to the foods Americans eat, lifestyle choices,
                                demographics and socioeconomic status play a significant role.
                            </p>
                        </div>
                    </div>
                    <br>
                    <p style="font-size:160%; line-height: 1.6; font-weight: bold;">Factors that are associated with
                        disease prevalence:
                    </p>
                    <ul style="list-style: circle; font-size: 160%; line-height: 1.6;">
                        <li>Limited access to healthy foods varied from state to state and even within a state, and it
                            appears that less access to healthy foods might contribute to obesity rates but not diabetes
                            across the country.
                        </li>
                        <li>The food environmental index, which indicates the quality of food in a given place, was
                            weakly associated with the degree of disease.
                        </li>
                        <li>The percentage of physical inactivity, or the number of Americans who do not engage in
                            leisure-time exercise, directly contributed to both obesity and diabetes over the last ten
                            years, especially the latter with which there is a strong positive association.
                        </li>
                        <li>Median family income, which varied starkly across the United States, had a moderate negative
                            association with both obesity and diabetes suggesting household earning might determine
                            other health-related factors like what foods are eaten and other lifestyle choices.
                        </li>
                    </ul>
                    <p style="font-size:160%; line-height: 1.6; font-weight: bold;">Factors that are not associated with
                        disease prevalence:
                    </p>
                    <ul style="list-style: circle; font-size: 160%; line-height: 1.6;">
                        <li>There was no link for disease prevalence with education level, nor with income ratio (i.e.,
                            the separation between high and low income) or unemployment rates.
                        </li>
                        <li>There were no income-related effects based on race.
                        </li>
                    </ul>
                    <div class="card bg-secondary text-white">
                        <div class="card-body">
                            <p style="font-size:150%; line-height: 1.6;">The research presented here shows that certain
                                factors (i.e., lifestyle, demographic, socioeconomic) play a major role in the
                                prevalence of obesity and diabetes, both in terms of the choices Americans make in their
                                personal lives and the social conditions of where they live. Among the lifestyle choices
                                examined, lack of exercise had the strongest consistent association with disease rates
                                over ten years, this may have been due to reduced availability of physical activity
                                facilities. On the other hand, decreased local access to healthy food and household
                                income were the most important contributors to disease prevalence in terms of
                                demographic and socioeconomic factors, respectively. Thus, a combination of personal and
                                social factors likely contribute to the number of people who develop these chronic
                                conditions. These associations should be considered over several years and carefully
                                weighed for significance given the cause of chronic conditions like obesity and diabetes
                                is multifactorial. Future work should examine the role of specific nutrition choices
                                (e.g., what Americans buy at grocery stores), heredity of disease (i.e., does someone in
                                the family already have it), and availability of local nutrition education programs on
                                disease rates.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Right side -->
                <div class="column bg-alt">
                    <h2 style="font-size:300%; font-weight: bold;">Acknowledgements, Limitations & Citations</h2>
                    <hr>
                    <h3 style="font-size:160%; font-weight: bold;">Acknowledgements</h3>
                    <p style="font-size:150%; line-height: 1.6;">The American Dietary Trend and Disease Prevalence 2021
                        team would like to thank our instructor
                        <a style="color: green; font-weight: bold;">Michael Dinh </a>for always being available to
                        provide support and feedback, and giving us valuable insight that strengthened the final
                        product.
                    </p>
                    <p style="font-size:135%; line-height: 1.6;">In addition, we would like to acknowledge and
                        appreciate the teaching assistants below:</p>
                    <ul style="font-size:135%; line-height: 1.6; list-style-type: circle;">
                        <li>Brianna McKelvey</li>
                        <li>Jacob Sloan</li>
                        <li>Taylor Middlebrooks</li>
                        <li>Justin Kuhn</li>
                    </ul>
                    <br>
                    <div class="card bg-secondary text-white">
                        <div class="card-body">
                            <h3 style="font-size:160%; font-weight: bold;">Limitations</h3>
                            <ul style="font-size:135%; line-height: 1.6; list-style-type: square;">
                                <li>Data was not available for all years for all of the factors analyzed.</li>
                                <li>The Food Environment Atlas only had data for 2007 and 2012, and nothing more current
                                    than that.
                                </li>
                                <li>Not all of the years could be included in the datasets because the columns were not
                                    consistently constructed from year to year and in some cases, data was inconsistent.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <h3 style="font-size:150%; font-weight: bold;">Citations</h3>
                    <li>
                        <cite>
                            <a
                                href="https://leaf.nutrisystem.com/healthy-habit-avoid-eating-same-things/fastfood-and-healthy-food-on-old-wooden-background-concept-choosing-correct-nutrition-or-of-junk-eating-top-view/">Navbar
                                background image citation</a>
                        </cite>
                    </li>
                    <li>
                        <cite>
                            <a
                                href=" https://www.cdc.gov/diabetes/pdfs/data/statistics/national-diabetes-statistics-report.pdf ">
                                Overview diabetes increased citation
                            </a>
                        </cite>
                    </li>
                    <li>
                        <cite>
                            <a href="https://www.cdc.gov/obesity/data/adult.html">
                                Overview obesity increased citation
                            </a>
                        </cite>
                    </li>
                    <li>
                        <cite>
                            <a href="https://www.freepik.com/photos/background">Background photo by freepik.com</a>
                        </cite>
                    </li>
                    <li>
                        <cite>
                            <a href="https://www.LogoMakr.com">Logo by LogoMakr.com</a>
                        </cite>
                    </li>
                    <li>
                        <cite>
                            <a href="https://eric.clst.org/tech/usgeojson/">GeoJSON Data for US counties and state</a>
                        </cite>
                    </li>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-placeholder"></div>

    </div>
    <!-- JS, Popper.js, CSS and jQuery -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- Script for current page -->
    <script src="{{ url_for('static', filename='js/conclusion.js') }}"></script>
</body>

</html>