<!-- Landing Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Setting up titles -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Dietary Trends & Disease Prevalence</title>
    <!-- d3 module -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

</head>

<body>
    <!-- NavBar Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Homepage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Approach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Predications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Conclusions</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Creating containers, rows & column -->
    <div class="container mt-4">
        <!-- Main page row -->
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1 class="display-4 text-primary">US Dietary Trends & Disease Prevalence</h1>
                <hr class="my-4">
                <!-- <ul id="tasks" class="list-group"></ul> -->
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <!-- <footer>
        <div class="footer">&copy; US Diet Habits/Disease 2021</div>
    </footer> -->
    <!-- Run script -->
    <script src="../static/js/main.js"></script>
    <!-- JS, Popper.js, CSS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>


</body>

<html>