<!-- 
*********************************
Navigation Bar 
*********************************
-->
<nav class="navbar navbar-expand-md navbar-default">
    <!-- Brand -->
    <a href="#" class="navbar-brand">
        <img class="nav-logo" src="../static/images/Logo.png" alt="Homepage">
    </a>
    <!-- Toggle Button -->
    <button type="button" class="navbar-toggler ml-auto custom-toggler" data-toggle="collapse"
        data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Approach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Predications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Conclusions</a>
            </li>
        </ul>
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li><a href="#" class="nav-item nav-link active">Approach</a></li>
            <li><a href="#" class="nav-item nav-link">Dashboard</a></li>
            <li><a href="#" class="nav-item nav-link">Map</a></li>
            <li><a href="#" class="nav-item nav-link">Analysis</a></li>
            <li><a href="#" class="nav-item nav-link disabled" tabindex="-1">Predictions</a></li>
            <li><a href="#" class="nav-item nav-link">Conclusions</a></li>
        </ul>
    </div> -->
</nav>
<!-- 
*********************************
Image Bar 
*********************************
-->
<div class="container-fluid img-bar pl-1 pr-1">
    <div class="bg-image"></div>
    <div class="bg-text">
        <h1 style="font-size:50px">American Dietary Trends and Disease Prevalence</h1>
        <h2>Data used during this project</h2>
    </div>
</div>